//浅灰边框颜色
$l-border-color-lightgrey: #dcdfe6;
//代码展示盒子背景颜色
$l-showcase-background-white: white;
//菜单背景颜色
$l-menu-background: snow;
//滑块背景颜色
$l-slider-background: #e4e7ed;
//首选颜色
$l-color-primary: #409eff;
//文字颜色
$l-text-color: #909399;
