$l-success:#67c23a;
$l-warning:#e6a23c;
$l-exception:#f56c6c;
$l-default:#409eff;
//浅灰边框颜色
$l-border-color-lightgrey: #dcdfe6;
//代码展示盒子背景颜色
$l-showcase-background-white: white;
//菜单背景颜色
$l-menu-background: snow;
//滑块背景颜色
$l-slider-background: #e4e7ed;
//首选颜色
$l-color-primary: #409eff;
//文字颜色
$l-text-color: #909399;
//switch开启颜色
$l-switch_core-on: #409eff;
//switch关闭颜色
$l-switch_core-off: #dcdfe6;
$l-switch_button: #fff;
//carousel
//dot颜色
$l-carousel_dot:#fff;
$l-carousel_dot-wrapper:rgba(255,255,255,.3);
//director颜色
$l-carousel_director:#fff;
$l-carousel_director-bg:rgba(0,0,0,.3);
//progress颜色
$l-progress-bg:#ebeef5;
